

body{
    background-color: rgb(27, 61, 54);
    margin:0;
    
}
h1{
    font-size: 28px;
    padding:0px;
    text-decoration-style: solid;
    word-spacing:2px ;
    

}
#header5{
    font-size:18px ;
    padding: 0px;
    
}
.topbar{
    background-color: black;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-left:20px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    width: 35%;
    height: 20%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    overflow: auto;
    
    
    
    
    
}
.content{
    background-color: white;
    color: black; 
    margin-left:100px;
    padding: 4px 16px 4px   16px;
    
    
}
h3.main {
    color: white;
    padding: 8px;
    display: block;
    text-decoration:none ;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif\;
}
.sidebar{
    margin:0;
    padding: 0;
    height: 100%;
    width: 100px;
    overflow: auto;
    background-color:rgb(106, 24, 145);
    float: left;
    
}
    

.sidebar a {
    color: white;
    padding: 14px;
    margin-right: 0px;
    display: block;
    text-decoration:none ;
    text-align: center;
    font-family: "Lato",sans-serif;
    





}
 a:hover{
    color: white;
    background-color:black ;
    width: inherit;
    
 }
a:visited{
    background-color:black ;
}


 








 





